<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<th:block th:fragment="menu">
		
	    <!-- BEGIN: Main Menu-->
	    <div class="horizontal-menu-wrapper">
	        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-without-dd-arrow navbar-shadow menu-border" role="navigation" data-menu="menu-wrapper">
	            <div class="navbar-header">
	                <ul class="nav navbar-nav flex-row">
	                    <li class="nav-item mr-auto"><a class="navbar-brand" th:href="@{/}">
	                            <div class="brand-logo"></div>
	                            <h2 class="brand-text mb-0">University</h2>
	                        </a></li>
	                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
	                </ul>
	            </div>
	            <!-- Horizontal menu content-->
	            <div class="navbar-container main-menu-content" data-menu="menu-container">
	                <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
	                	<li class="nav-item" th:classappend="${MENU=='HOME'} ? active : ''"><a class="nav-link" th:href="@{/}"><i class="feather icon-home"></i>Accueil</a></li>
	                	<li class="nav-item" th:classappend="${MENU=='EMAIL'} ? active : ''"><a class="nav-link" th:href="@{/email}"><i class="feather icon-mail"></i>Emails</a></li>
	                	<li class="nav-item" th:classappend="${MENU=='COURS'} ? active : ''"><a class="nav-link" th:href="@{/cours}"><i class="feather icon-book"></i>Cours</a></li>
	                    <li class="nav-item" th:classappend="${MENU=='EMPLOI'} ? active : ''"><a class="nav-link" th:href="@{/emploi}"><i class="feather icon-calendar"></i>Emplois du temps</a></li>
	                    <li class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="" data-toggle="dropdown"><i class="feather icon-users"></i>Gestion</a>
	                        <ul class="dropdown-menu">
	                            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ENSEIGNANT')" th:classappend="${MENU=='ETUDIANT'} ? active : ''"><a class="dropdown-item" th:href="@{/gestion/etudiant}" data-toggle="dropdown">Etudiants</a></li>
	                            <li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${MENU=='ENSEIGNANT'} ? active : ''"><a class="dropdown-item" th:href="@{/gestion/enseignant}" data-toggle="dropdown">Enseignants</a></li>
	                        	<li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ENSEIGNANT')" th:classappend="${MENU=='GROUPE'} ? active : ''"><a class="dropdown-item" th:href="@{/gestion/groupe}" data-toggle="dropdown">Groupes</a></li>
	                        	<li th:classappend="${MENU=='MODULE'} ? active : ''"><a class="dropdown-item" th:href="@{/gestion/module}" data-toggle="dropdown">Modules</a></li>
	                        	<li th:classappend="${MENU=='FILIERE'} ? active : ''"><a class="dropdown-item" th:href="@{/gestion/filiere}" data-toggle="dropdown">Filières</a></li>
	                        </ul>
	                    </li>
	                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown nav-item" data-menu="dropdown"><a class="dropdown-toggle nav-link" href="" data-toggle="dropdown"><i class="feather icon-settings"></i>Administration</a>
	                        <ul class="dropdown-menu">
	                            <li th:classappend="${MENU=='UTILISATEUR'} ? active : ''"><a class="dropdown-item" th:href="@{/administration/utilisateur}" data-toggle="dropdown">Utilisateurs</a></li>
<!-- 	                        	<li th:classappend="${MENU=='PARAMETRAGE'} ? active : ''"><a class="dropdown-item" th:href="@{/administration/parametrage}" data-toggle="dropdown">Paramètrage</a></li> -->
	                        </ul>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	    <!-- END: Main Menu-->
    
	</th:block>
</body>
</html>