<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
</head>
<body ng-controller="indexController" ng-init="init()" ng-cloak="">
	<div layout:fragment="content">
		<div class="content-wrapper">

			<section id="dashboard-analytics">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card bg-analytics text-white">
                                <div class="card-content">
                                    <div class="card-body text-center">
                                        <div class="avatar avatar-xl bg-warning shadow mt-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-user white font-large-1"></i>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <h1 class="mb-2 text-white">Bienvenue <span th:text="${USERNAME}"></span>,</h1>
                                            <div class="divider divider-warning" style="margin: 0">
                                            <div class="divider-text" style="background: transparent"><i class="feather icon-clock"></i></div>
                                          </div>
                                            <p class="m-auto w-75">Dernière connexion le <span th:text="${LAST_CONNECTION_D}"></span> à <span th:text="${LAST_CONNECTION_H}"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                        				<div class="col-md-6 col-12">
				                           <div class="card text-center">
				                                <div class="card-content">
				                                    <div class="card-body">
				                                        <div class="avatar bg-rgba-primary p-50 m-0 mb-1">
				                                            <div class="avatar-content">
				                                                <i class="feather icon-layers text-primary font-medium-5"></i>
				                                            </div>
				                                        </div>
				                                        <h2 class="text-bold-700">{{count.filieres}}</h2>
				                                        <p class="mb-0 line-ellipsis">Filières</p>
				                                    </div>
				                                </div>
				                            </div>
			                            </div>
		                           		<div class="col-md-6 col-12">
				                           <div class="card text-center">
				                                <div class="card-content">
				                                    <div class="card-body">
				                                        <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
				                                            <div class="avatar-content">
				                                                <i class="feather icon-sidebar text-warning font-medium-5"></i>
				                                            </div>
				                                        </div>
				                                        <h2 class="text-bold-700">{{count.groupes}}</h2>
				                                        <p class="mb-0 line-ellipsis">Groupes</p>
				                                    </div>
				                                </div>
				                            </div>
			                            </div>
		                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        	
                        			<div class="row">
                        				<div class="col-md-6 col-12">
				                           <div class="card text-center">
				                                <div class="card-content">
				                                    <div class="card-body">
				                                        <div class="avatar bg-rgba-primary p-50 m-0 mb-1">
				                                            <div class="avatar-content">
				                                                <i class="feather icon-folder text-primary font-medium-5"></i>
				                                            </div>
				                                        </div>
				                                        <h2 class="text-bold-700">{{count.modules}}</h2>
				                                        <p class="mb-0 line-ellipsis">Modules</p>
				                                    </div>
				                                </div>
				                            </div>
			                            </div>
		                           		<div class="col-md-6 col-12">
				                           <div class="card text-center">
				                                <div class="card-content">
				                                    <div class="card-body">
				                                        <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
				                                            <div class="avatar-content">
				                                                <i class="feather icon-book text-warning font-medium-5"></i>
				                                            </div>
				                                        </div>
				                                        <h2 class="text-bold-700">{{count.cours}}</h2>
				                                        <p class="mb-0 line-ellipsis">Cours</p>
				                                    </div>
				                                </div>
				                            </div>
			                            </div>
		                            </div>
	                            
                        	<div class="card" sec:authorize="hasRole('ROLE_ADMIN')">
	                              <div class="card-header d-flex align-items-start pb-1">
	                                  <div>
	                                      <h2 class="text-bold-700 mb-0">{{count.enseignants}}</h2>
	                                      <p>Enseignants</p>
	                                  </div>
	                                  <div class="avatar bg-rgba-danger p-50 m-0">
	                                      <div class="avatar-content">
	                                          <i class="feather icon-award text-danger font-medium-5"></i>
	                                      </div>
	                                  </div>
	                              </div>
	                          </div>
	                          <div class="card" sec:authorize="hasRole('ROLE_ADMIN')">
	                                <div class="card-header d-flex align-items-start pb-1">
	                                    <div>
	                                        <h2 class="text-bold-700 mb-0">{{count.etudiants}}</h2>
	                                        <p>Étudiants</p>
	                                    </div>
	                                    <div class="avatar bg-rgba-info p-50 m-0">
	                                        <div class="avatar-content">
	                                            <i class="feather icon-users text-info font-medium-5"></i>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
                        
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-12">
                        	<div class="card">
                                <div class="card-header mb-1">
                                    <h4 class="card-title">Actualités</h4>
                                </div>
                                <div class="card-content">
                                    <img class="img-fluid" th:src="@{/resources/assets/template/images/slider/covid-19.jpg}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Les personnes les plus fréquemment touchées par une évolution grave de la maladie sont principalement...</p>
                                    </div>
                                </div>
                                <div class="card-footer text-muted" style="padding: 1rem 1.5rem">
                                    <span class="float-left">il y a 3 heures</span>
                                    <span class="float-right">
                                        <a href="#" class="card-link">Plus <i class="fa fa-angle-right"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>

		</div>
	</div>
	
	<div layout:fragment="plugins" class="page-content">
		<script th:src="@{/resources/static/js/index.js}"></script>
	</div>
	
</body>
</html>
