<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
</head>
<body ng-controller="profilController" ng-init="init()" ng-cloak="">
	<div layout:fragment="content">
		<div class="content-wrapper">
		
			<div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="">Profil</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
				
				<section id="page-account-settings">
                    <div class="row">
                        <!-- left menu section -->
                        <div class="col-md-3 mb-2 mb-md-0">
                            <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                                <li class="nav-item">
                                    <a class="nav-link d-flex py-75 active" data-toggle="pill" href="#general" aria-expanded="true">
                                        <i class="feather icon-globe mr-50 font-medium-3"></i>
                                        General
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex py-75" data-toggle="pill" href="#password" aria-expanded="false">
                                        <i class="feather icon-lock mr-50 font-medium-3"></i>
                                        Mot de passe
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- right content section -->
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="general" aria-expanded="true">
                                            
                                            	<form id="profilForm" name="profilForm" enctype="multipart/form-data" >
                                            
                                                <div class="media">
                                                    <a href="javascript: void(0);">
                                                        <img th:src="@{/administration/utilisateur/profil/{{dto.id}} }" class="rounded mr-75" alt="profile image" width="200">
                                                    </a>
                                                    <div class="media-body mt-75">
                                                        <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
															<button type="button" class="btn mr-1 mb-1 btn-outline-warning waves-effect waves-light square" ng-click="upload()"><i class="feather icon-image"></i> Uploader</button>
                                                            <input type="file" id="document" name="document" ng-model="dto.document" hidden>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                
                                                    <div class="row mt-3">
                                                        <div class="col-12">
															<fieldset class="form-label-group form-group position-relative has-icon-left">
		                                                        <input type="text" class="form-control square" name="login" ng-model="dto.login" placeholder="Nom d'utilisateur" ng-disabled="true">
		                                                        <div class="form-control-position">
		                                                            <i class="feather icon-user"></i>
		                                                        </div>
		                                                        <label>Nom d'utilisateur</label>
		                                                    </fieldset>
                                                            <fieldset class="form-label-group">
																<input type="text" class="form-control square" placeholder="Nom" ng-model="dto.nom"> 
																<label>Nom</label>
															</fieldset>
															<fieldset class="form-label-group">
																<input type="text" class="form-control square" placeholder="Prénom" ng-model="dto.prenom"> 
																<label>Prénom</label>
															</fieldset>
															<fieldset class="form-label-group">
																<input type="text" class="form-control square" placeholder="Email" ng-model="dto.email"> 
																<label>Email</label>
															</fieldset>
                                                        </div>
                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                            <button type="button" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 square" ng-click="save()">Enregistrer</button>
                                                            <button type="button" class="btn btn-outline-warning square" ng-click="cancel()">Annuler</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="tab-pane fade" id="password" role="tabpanel" aria-expanded="false">
                                                <form id="passwordForm" name="passwordForm" >
                                                    <div class="row mt-3">
                                                        <div class="col-12">
                                                        	<fieldset class="form-label-group position-relative has-icon-left">
		                                                        <input type="password" class="form-control square" name="password" ng-model="dto.password" placeholder="Mot de passe actuel" ng-disabled="true">
		                                                        <div class="form-control-position">
		                                                            <i class="feather icon-lock"></i>
		                                                        </div>
		                                                        <label for="user-password">Mot de passe actuel</label>
		                                                    </fieldset>
                                                            <fieldset class="form-label-group position-relative has-icon-left">
		                                                        <input type="password" class="form-control square" name="newPassword" ng-model="dto.newPassword" placeholder="Nouveau mot de passe" required>
		                                                        <div class="form-control-position">
		                                                            <i class="feather icon-lock"></i>
		                                                        </div>
		                                                        <label for="user-password">Nouveau mot de passe</label>
		                                                    </fieldset>
		                                                    <fieldset class="form-label-group position-relative has-icon-left">
		                                                        <input type="password" class="form-control square" name="confirmNewPassword" ng-model="dto.confirmNewPassword" placeholder="Confirmer nouveau mot de passe" required>
		                                                        <div class="form-control-position">
		                                                            <i class="feather icon-lock"></i>
		                                                        </div>
		                                                        <label for="user-password">Confirmer nouveau mot de passe</label>
		                                                    </fieldset>
                                                        </div>
                                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                                            <button type="button" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 square" ng-click="changePassword()">Enregistrer</button>
                                                            <button type="button" class="btn btn-outline-warning square" ng-click="cancel()">Annuler</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>      
                
            </div>

		</div>
	</div>
	
	<div layout:fragment="plugins" class="page-content">
		<script th:src="@{/resources/static/js/profil.js}"></script>
	</div>
	
</body>
</html>
